/* -------------------------------------------------------GT-Hoildays------------------------------------------------------------ */

.gt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gt-main {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gt-banner {
  width: 98%;
  margin-bottom: 100px;
}

.gt-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
}

.gt-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background: linear-gradient(
    to right,
    #ffc700,
    #ffce03,
    #ffc700,
    #ffc300,
    #ffba00,
    #fdb700
  );
  padding-bottom: 50px;
}
.video-div {
  height: 300px;
  width: 25%;
  padding: 10px;
}
.videos {
  height: 100%;
  width: 100%;
}
.gt-abt {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.gt-abt-img {
  width: 49%;
}
.gt-abt-img img {
  width: 100%;
  height: 700px;
  object-fit: contain;
}
.gt-abt-cnt {
  width: 49%;
  color: #000000;
}
.gt-abt-cnt-head {
  margin: 50px 0px;
}
.gt-cnt {
  width: 70%;
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.gt-section,
.gt-abt-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gt-section {
  background-image: url(../../../Assets/24427649_re_406.jpg);
  background-size: contain;
}
.gt-abt-section {
  background-image: url(../../../Assets/case-study/gt-holidays/bg\ 3.jpg);
  background-size: contain;
}
.gt-sec-cnt {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.gt-sec-cnt h2 {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.208;
}
.gt-sec-image,
.gt-post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gt-img {
  width: 49%;
}
.gt-sec-image img,
.post-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.gt-blog {
  margin: 90px 0px;
  width: 100%;
}
.gt-blog h5 {
  font-weight: 500;
  line-height: 1.2;
}
.gt-blog p {
  font-family: poppins, sans-serif;
  font-size: 14px;
}
.post-img {
  width: 32%;
}
.gt-img:hover img,
.post-img:hover img {
  transform: scale(1.05);
}

/* Responsive */
@media (min-width: 100px) {
  .hn-main {
    width: 100vw;
  }
}

@media (max-width: 479px) {
  .gt-video {
    gap: 0px;
    padding-top: 20px;
  }

  .video-div {
    height: auto;
    width: 50%;
    margin-top: 20px;
  }

  .gt-abt-section {
    background-size: cover;
  }
  .gt-abt-img img {
    height: 200px;
  }
  .gt-abt-cnt {
    width: 100%;
  }
  .gt-cnt {
    width: 100%;
    margin: auto;
  }
  .gt-abt-cnt h2 {
    text-align: center;
  }
  .gt-abt-cnt p {
    text-align: justify;
  }

  .gt-sec-cnt {
    width: 95%;
  }
  .gt-sec-image {
    flex-wrap: nowrap;
  }
  .gt-img {
    width: 49%;
  }
  .gt-sec-image img {
    border-radius: 15px;
  }
}

/* ----------------------------------------------Harris-Nadar----------------------------------------------------------- */
.hn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hn-main {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hn-banner {
  width: 95%;
}
.hn-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hn-cnt {
  width: 65%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.hn-cnt-img {
  width: 50%;
}
.hn-cnt-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hn-cntnts {
  width: 50%;
}

.hn-cntnts-head {
  margin-top: 65px;
}
.hn-cntnts-head span {
  margin-top: 20px;
  display: inline-block;
  font-family: "Anton";
}
.hn-cntnts-head h2 {
  font-size: 40px;
  font-weight: 600;
}
.hn-gallery {
  width: 65%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px 0px;
}
.hn-case {
  width: 32.26%;
}

.hn-case img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hn-faq {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  background: #ffcc01;
  padding: 100px 0px;
}

.hn-faq-main {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}
.hn-faq-head {
  width: 100%;
  margin-bottom: 100px;
}
.hn-faq-head h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.hn-faq-img {
  height: 700px;
  width: 82%;
  display: flex;
  justify-content: space-around;
}
.faq-img,
.faq-img1 {
  height: 100%;
  width: 40%;
}
.faq-img img,
.faq-img2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.faq-img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.faq-img2 {
  width: 100%;
  height: 49%;
}
.gp {
  width: 15%;
}

.hn-faq-cnts {
  width: 82%;
  text-align: justify;
  margin-top: 50px;
}
.hn-video-sec {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hn-video-main {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 100px 0px;
}
.hn-video {
  width: 100%;
}
.hn-video-min {
  width: 49.1%;
}

@media (min-width: 100px) {
  .hn-main {
    width: 100vw;
  }
}

@media (max-width: 479px) {
  .hn-cnt {
    width: 95%;
  }
  .hn-cnt-img {
    width: 100%;
  }
  .hn-cntnts {
    width: 100%;
  }
  .hn-cntnt span {
    text-align: justify;
  }
  .hn-gallery {
    width: 100%;
    align-items: center;
  }
  .hn-case {
    width: 45%;
  }
  .hn-faq-img {
    height: auto;
    flex-wrap: wrap;
  }
  .gp {
    display: none;
  }
  .faq-img {
    width: 100%;
    height: 49%;
  }
  .faq-img1 {
    width: 100%;
    margin-top: 15px;
  }
  .hn-video-main {
    width: 90%;
  }
  .hn-video-min {
    width: 100%;
  }
}
/* ----------------------------------------------Tino-Engineering----------------------------------------------------------- */

.te {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.te-main {
  width: 100vw;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.te-banner {
  width: 100%;
}
.te-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.te-cnt {
  width: 65%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 90px 0px;
}
.te-cnt-img {
  width: 50%;
}
.te-cnt-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.te-cntnts {
  width: 50%;
}

.te-cntnts-head {
  margin-top: 65px;
}
.te-cntnts-head span {
  margin-top: 20px;
  display: inline-block;
  font-family: "Anton";
}
.te-cntnts-head h2 {
  font-size: 40px;
  font-weight: 600;
}

.te-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../../../Assets/24427649_re_406.jpg);
  background-size: cover;
}

.te-sec-cnt {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.te-sec-cnt h2 {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.208;
}
.te-post {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0px;
}

.te-post-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.te-blog {
  width: 100%;
}
.te-blog h5 {
  font-weight: 500;
  line-height: 1.2;
}
.te-blog p {
  font-family: poppins, sans-serif;
  font-size: 14px;
}
.te-post-img {
  width: 23%;
}
.te-post-img:hover img {
  transform: scale(1.05);
}

@media (min-width: 100px) {
  .te-main {
    width: 100vw;
  }
}

@media (max-width: 479px) {
  .te-cnt {
    width: 100%;
  }
  .te-cnt-img {
    width: 100%;
  }
  .te-cntnts {
    width: 95%;
  }
  .te-sec-cnt {
    width: 95%;
  }
  .te-post-img {
    width: 45%;
  }
}

/* ----------------------------------------------Counter-section----------------------------------------------------------- */

.cont {
  text-align: center;
  margin: 120px 0px;

}
.cont h3 {
  margin-bottom: 100px;
  font-weight: 600;
  font-family: "poppins", sans-serif;
  font-size: 40px;

}
.counter-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;

}

.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.counter-box .counter {
  font-size: 24px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.counter-box p {
  width: 40%;
  font-size: 20px;
  font-weight: 700;
  color: #555;
}


/* ----------------------------------------------Next-Page----------------------------------------------------------- */

.next-page-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  background-image: url(../../../Assets/24427649_re_406.jpg);
}

.next-page-sec {
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0px;
}

.next-page-head {
  width: 80%;
  font-size: 30px;
}

.next-page-cnt {
  width: 80%;
  font-size: 50px;
  position: relative;
}

.next-page-cnt p {
  margin-bottom: 0;
  display: inline-block;
  position: relative;
}

.svg {
  transition: transform 0.3s ease-in-out;
}

.nxt-gap {
  width: 100%;
  height: 35%;
}

.next-page-sec img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 30px;
}

.next-page-container:hover img {
  opacity: 1;
}

.next-page-container:hover .svg {
  transform: translateX(20px);
}

.next-page-container:hover .next-page-cnt p {
  position: relative;
}

.next-page-container .next-page-cnt p::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.next-page-container:hover .next-page-cnt p::after {
  width: 100%;
}

@media (max-width: 479px) {
  .next-page-sec {
    width: 100%;
  }
  .next-page-sec img {
    width: 90%;
  }
}
