.navbar {
  height: 100px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: transparent !important;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled,
.navbar.other-page {
  background: rgba(255, 255, 255, 0.11) !important;
  backdrop-filter: blur(5px);
}

.navbar-brand img {
  transition: filter 0.3s ease !important;
}

.container-fluid {
  width: 80%;
  height: 70px;
  display: flex !important;
  justify-content: space-between !important; 
  align-items: center !important;
}

.navbar .navbar-nav,
.collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

.navbar .navbar-nav li {
  margin: 0 15px;
}

.navbar .navbar-nav li a,.collapse a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
  font-size: 18px !important;
  transition: color 0.3s ease;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a.active,
.collapse a:hover,
.collapse a.active  {
  color: #ffca00 !important;
}



.navbar.about-page .navbar-nav li a:hover {
  color: #ffca00 !important;
}

.navbar.about-page .logo img {
  filter: brightness(0) invert(1);
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  background-color: transparent !important;
}
