.navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled,
.navbar.other-page {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
}

.navbar .logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.logo img {
  margin-top: 45px;
}

.navcontainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.navbar .nav-links li {
  margin: 0 15px;
}

.navbar .nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.navbar .nav-links li a:hover {
  color: #ffca00;
}

.navbar.about-page .nav-links li a {
  color: white !important;
}

.navbar.about-page .nav-links li a:hover {
  color: #ffca00;
}

.navbar.about-page .logo img {
  filter: brightness(0) invert(1);
}

.notification {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  }

.success {
  background-color: #28a745; /* Green for success */
}

.error {
  background-color: #dc3545; /* Red for error */
}
