.work-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 150px 0px;
}
.work-head {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.work-head h2 {
  font-family: "Anton", sans-serif;
  font-size: 70px;
  letter-spacing: 1px;
}
.category {
  width: 25%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
}

.category ul {
  list-style-type: none;
  cursor: pointer;
}
.category ul li {
  color: grey;
}
.category ul li:hover {
  color: black;
}

.category-list.clicked {
  color: black;
  list-style: disc;
}

.work-section {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

.work-sec {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: #000;
  gap: 9px;
  margin-bottom: 50px;
}
.work-sec:hover {
  transform: scale(1.05);
  z-index: 10;
}
.wrk-img {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrk-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  
}
.work-sec:hover .wrk-img img {
  transform: scale(1);
}
.wrk-cnt {
  width: 90%;
}
.wrk-cnt h4 {
  margin: 0%;
  font-style: italic;
}
.wrk-cnt span {
  font-size: 15px;
}
.sec-1,
.sec-6 {
  width: 63%;
}
.sec-2,
.sec-7 {
  width: 30%;
}
.sec-3,
.sec-4,
.sec-5 {
  width: 30%;
}

.sec-8,
.sec-9 {
  width: 47%;
}

.work-side {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.work-side-sec {
  width: 90%;
  height: 200px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.side-img {
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.side-img img {
  height: 150px;
  width: 100%;
  border-radius: 30px;
  
}
.side-cnt {
  width: 70%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.side-cntnts,
.side-category {
  width: 90%;
}
.side-head {
  margin-top: 20px;
  width: 90%;
  font-style: italic;
}
.side-head h4 {
  margin: 0%;
}
.side-category {
  margin-bottom: 20px;
}
