.work-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 150px 0px;
}
.work-head {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.work-head h2 {
  font-family: "Anton", sans-serif;
  font-size: 70px;
  letter-spacing: 1px;
}
.category {
  width: 25%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
}

.category ul {
  list-style-type: none;
  cursor: pointer;
}
.category ul li {
  color: grey;
}
.category ul li:hover {
  color: black;
}

.category-list.clicked {
  color: black;
  list-style: disc;
}

.work-area {
  width: 100%;
  margin-top: 100px;
}
.work-section {
  width: 70%;
  float: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.work-sec {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: #000;
  gap: 9px;
  margin-bottom: 50px;
}
.work-sec:hover {
  transform: scale(1.05);
  z-index: 10;
}
.wrk-img {
  height: 400px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.wrk-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.work-sec:hover .wrk-img img {
  transform: scale(1);
}
.wrk-cnt {
  width: 90%;
}
.wrk-cnt h4 {
  margin: 0%;
  font-style: italic;
}
.wrk-cnt span {
  font-size: 15px;
}

.sec-1,
.sec-7,
.sec-11,
.sec-16 {
  width: 65%;
}
.sec-2,
.sec-6,
.sec-12,
.sec-17 {
  width: 35%;
}
.sec-3,
.sec-4,
.sec-5,
.sec-13,
.sec-14,
.sec-15 {
  width: 33.3%;
}

.sec-8,
.sec-9,
.sec-18,
.sec-19 {
  width: 50%;
}
.sec-10,
.sec-20 {
  width: 100%;

}
.sec-10 .wrk-img,
.sec-20 .wrk-img{
  width: 95%;
}
.work-side {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 18px;
}

.work-side-sec {
  width: 90%;
  height: 180px;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.side-img {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.side-img img {
  height: 120px;
  width: 100%;
}
.side-cnt {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.side-cntnts,
.side-category {
  width: 90%;
}
.side-head {
  margin-top: 20px;
  width: 90%;
  font-style: italic;
}
.side-head h4 {
  margin: 0%;
}
.side-category {
  margin-bottom: 20px;
}

.bold-text {
  font: bold normal 13px "Roboto", serif !important;
}

@media (min-width: 100px) {
  .work-main {
    width: 100vw;
  }
}
@media (max-width: 479px) {
  .work {
    width: 95%;
  }
  .work-head {
    height: auto;
  }
  .category {
    height: auto;
    width: 100%;
    text-align: right;
    justify-content: end;
    margin-top: 50px;
  }
  .work-section {
    width: 100%;
  }
  .work-side {
    display: none;
  }
  .wrk-cnt h4 {
    font-size: 15px;
  }
  .wrk-cnt span {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
  }
  .bold-text {
    display: inline-block;
    font-size: 10px;
  }
  .wrk-img {
    height: 200px;
  }
}
