.seo-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.seo {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  /* margin-top: 200px; */
}
.seo-banner{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  background-color: #ffcd00;
}
.seo-bnr{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 200px;
  background: url(../../../Assets/banner1.png );

}
.seo-gp{
  width: 12%;
}
.seo-bnr h1{
  text-transform: uppercase;
  font-size: 50px;
}



.seo-content1 {
  width: 100%;
}
.seo-cnt {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px 0px;
}
.seo-smry {
  width: 70%;
  height: 100%;
}
.seo-smry-head h2 {
  font-size: 2.5rem;
}
.seo-smry-cnt p {
  font-size: 1.2rem;
  color: #696767;
}
.seo-smry-img {
  width: 22%;
  height: 350px;
  border-radius: 20px;
}
.seo-smry-img img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.seo-smry-cnt ul {
  list-style-type: none;
  padding: 0%;
}
.seo-smry-cnt ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.icn {
  color: #ffca00;
  font-size: larger;
}

.seo-strategy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #180444;
  color: white;
}

.seo-strategy-main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0px;
}
.seo-strategy-head {
  width: 80%;
  text-align: center;
}
.seo-strategy-head h3 {
  font-size: 45px;
  text-transform: uppercase;
}
.seo-strategy-cnt {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
}
.seo-strategy-box {
  height: 250px;
  width: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.seo-strategy-box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.seo-strategy-box-icon h4 {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.seo-strategy-box-gap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.seo-strategy-box-gap hr {
  width: 70%;
  height: 10px;
  color: #ffffff;
  margin: 0%;
}

.seo-strategy-box-cnt {
  width: 80%;
}
.seo-strategy-box-cnt {
  text-align: center;
}
.seo1 {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.seo-roadmap,
.seo-roadmap-head,
.seo-roadmap-cnt {
  width: 100%;
  padding: 20px 0px;
}
.seo-roadmap-head h2 {
  text-align: center;
  font-size: 50px;
}
.seo-roadmap-head p {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 25px;
}
.seo-know {
  height: 500px;
  width: 100%;
  /* background: url(../../../Assets/white-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat; */
  background-color: #181155;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}
.seo-know-img {
  width: 30%;
  height: 100%;
  background: url(../../../Assets/seo-cloud.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seo-know-img b {
  width: 35%;
  font-size: 2.8rem;
  text-align: center;
  color: white;
}
.seo-know-cnts {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 48px 0px;
}
.seo-know-cnt {
  width: 48%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.seo-know-percent {
  border-radius: 30px 0px;
  border: 2px solid transparent;
  width: 130px;
  height: 90px;
  background: #d25f00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  max-width: 100px;
}

.seo-know-desc {
  width: 70%;
  font-size: 15px;
  color: white;

}
.seo2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: url(../../../Assets/white-bg2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.seo-connect {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.seo-connect-cnts {
  width: 60%;
}
.seo-connect-img {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seo-connect-img img {
  height: 400px;
  width: 350px;
}

.seo-connect-cnt p {
  width: 80%;
}

.seo-connect-cnts button {
  background-color: #000000;
  color: white;
  border-radius: 35px;
  height: 47px;
  width: 150px;
  font-weight: 600;
  text-transform: capitalize;
}
