.services-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  margin-top: 200px;
}
.services-head {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.services-head h2 {
  font-size: 85px;
  margin-bottom: 30px;
  text-align: center;
}

.services-head p {
  font-size: 40px;
  text-align: center;
  display: inline-block;
  width: 73%;
}
.services-anime {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
.services-anime Video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service-content {
  width: 100%;
}
.services-content {
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0px;
}
.services-box {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-cnt {
  height: 70%;
  width: 95%;
}
.services-box-head {
  width: 100%;
}
.services-box-head h4 {
  font-size: 65px;
}

.services-box-cnt {
  width: 100%;
  margin-bottom: 20px;
}

.services-box-cnt p {
  font-size: 25px;
  text-align: justify;
}
.services-img {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.service-img {
  height: 70%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 20px;
}
.services-img img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgb(251, 255, 190);
}

/* Responsive Styling */
@media (max-width: 768px) {
  .services-head h2 {
    font-size: 2rem;
  }

  .services-head p {
    font-size: 1.2rem;
  }

  .services-box,
  .services-img {
    width: 100%;
  }

  .services-content {
    flex-direction: column;
    align-items: center;
  }

  .services-box-head h4 {
    font-size: 1.5rem;
  }

  .services-box-cnt p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .services {
    width: 95%;
  }

  .services-head h2 {
    font-size: 2.5rem;
  }

  .services-head p {
    font-size: 1rem;
    width: 100%;
  }

  .services-anime {
    height: 125px;
  }
  .services-content {
    height: auto;
  }
  .services-img,
  .services-box {
    width: 100%;
    margin: 25px 0px;
  }

  @media (min-width: 100px) {
    .services-main {
      width: 100vw;
    }
  }
}
