.bg-color-dark {
  background-color: #000;
  padding: 0%;
}

.cntnt {
  color: white !important;
}

.icns {
  color: #cacaca;
}
.footer-link {
  color: white !important;
  text-decoration: none !important;
  font-size: 14px;
}
.footer-link:hover {
  color: gold !important;
}
.footer-body {
  width: 100vw;
  background-color: #000 !important;
  background: url("../../Assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
